InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 40
Hover:
  ShowAKA: Yes
Diagnostics:
  UnusedIncludes: Strict
Index:
  Background: Build
  StandardLibrary: Yes